
# private markdown
meta.md

node_modules
*/node_modules
*/package-lock.json
*/.DS_Store
.DS_Store
.vscode
*/.vscode
*/.env
.env
env
.env*
Procfile
.Rproj.user
.Rhistory
.RData
.Ruserdata
cfb-data
cfb-api
.ipynb_checkpoints/*
.ipynb_checkpoints
__pycache__
*/__pycache__
python/data
.github/workflows/deploy_backend.yml
