@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Barlow/Barlow-400.woff2) format("woff2");
}
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/Barlow/Barlow-500.woff2) format("woff2");
}
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/Barlow/Barlow-600.woff2) format("woff2");
}
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/Barlow/Barlow-700.woff2) format("woff2");
}
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(/fonts/Barlow/Barlow-800.woff2) format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/Inter-var.woff2) format("woff2");
}
@font-face {
  font-family: "Sarina";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url(/fonts/Sarina/Sarina-400.woff2) format("woff2");
}
@font-face {
  font-family: "Avengero Regular";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url(/fonts/Avengero/Avengero-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Fira Mono";
  src: url(/fonts/fira-mono/FiraMono-Medium.ttf) format('truetype');
  font-weight: 500;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 84%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --danger: 355, 70%, 91%;
    --success: 153, 31%, 86%;
    --warning: 46, 100%, 90%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.7rem;
  }

  .dark {
    --background: 225 75% 2% ;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 247 85% 95%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --danger: 355, 70%, 15%;
    --success: 159, 31%, 18%;
    --warning: 46, 100%, 16%;

    --ring: 216 34% 17%;

    --radius: 0.7rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Chivo", sans-serif;

  }
  h1, h2, h3, h4, h5, h6 {
    font-family: "Chivo", sans-serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  }
  p > a {
    @apply !text-blue-500 dark:!text-blue-400;
  }
}


.accordion-body {
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.rdt_Table[role="table"] {
  display: flex;
  justify-content: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  max-width: 95%;
}
.rdt_TableCol[data-column-id="time"] {
  color: theme('colors.foreground');
  background-color: theme('colors.background');
  display: flex;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.25rem;
  max-width: 10%;
}
.rdt_TableCell[data-column-id="time"] {
  color: theme('colors.foreground');
  background-color: theme('colors.background');
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.25rem;
  max-width: 10%;
}
.rdt_TableCol[data-column-id="offense"] {
  color: theme('colors.foreground');
  background-color: theme('colors.background');
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.25rem;
  max-width: 10%;
}
.rdt_TableCell[data-column-id="offense"] {
  color: theme('colors.foreground');
  background-color: theme('colors.background');
  padding: 0.25rem;
  max-width: 10%;
}
.rdt_TableCol[data-column-id="play_description"] {
  color: theme('colors.foreground');
  background-color: theme('colors.background');
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: left;
  padding: 0.25rem;
  overflow-wrap: break-word;
  min-width: 50%;
}
.rdt_TableCell[data-column-id="play_description"] {
  color: theme('colors.foreground');
  background-color: theme('colors.background');
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: left;
  padding: 0.25rem;
  overflow-wrap: break-word;
  min-width: 50%;
}
.rdt_TableCol[data-column-id="epa"] {
  color: theme('colors.foreground');
  background-color: theme('colors.background');
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.25rem;
  text-align: right;
  max-width: 10%;
}
.rdt_TableCell[data-column-id="epa"] {
  color: theme('colors.foreground');
  background-color: theme('colors.background');
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.25rem;
  text-align: right;
  max-width: 10%;
}
.rdt_TableCol[data-column-id="wp_pct"] {
  color: theme('colors.foreground');
  background-color: theme('colors.background');
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.25rem;
  text-align: right;
  max-width: 10%;
}
.rdt_TableCell[data-column-id="wp_pct"] {
  color: theme('colors.foreground');
  background-color: theme('colors.background');
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.25rem;
  text-align: right;
  max-width: 10%;
}
.rdt_TableCol[data-column-id="wpa"] {
  color: theme('colors.foreground');
  background-color: theme('colors.background');
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.25rem;
  text-align: right;
  max-width: 10%;
}
.rdt_TableCell[data-column-id="wpa"] {
  color: theme('colors.foreground');
  background-color: theme('colors.background');
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.25rem;
  text-align: right;
  max-width: 10%;
}


.rdt_TableRow.table-success > .rdt_TableCell, .rdt_TableRow.table-success {
  background-color: theme('colors.success');
}
.rdt_TableRow.table-danger > .rdt_TableCell, .rdt_TableRow.table-danger  {
  background-color: theme('colors.danger');
}
.rdt_TableRow.table-warning > .rdt_TableCell, .rdt_TableRow.table-warning  {
  background-color: theme('colors.warning');
}

.rdt_ExpanderRow, div.rdt_ExpanderRow, .rdt_ExpanderRow > div{
  color: theme('colors.foreground');
  background-color: theme('colors.background');
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: flex;
  justify-content: center;
}

.rdt_ExpanderRow > div > p > a{
  color: 25 118% 253%;
  text-decoration: underline;
}