fastapi==0.63.0
httpx==0.16.1
Jinja2==2.11.3
MarkupSafe==1.1.1
numpy==1.19.4
pandas==1.1.4
pathspec==0.8.1
pydantic==1.7.3
python-dotenv==0.15.0
starlette==0.13.6
urllib3==1.26.3
uvicorn==0.13.3
xgboost==1.2.0
